## Creating Dictionaries in four different ways

In [1]:
# Way 01:
d1 = {"name": "Emdadul", "Age": 27}

In [2]:
d1

{'name': 'Emdadul', 'Age': 27}

In [3]:
#way 2:

d2 = {}
d2["name"] = "Emdadul"
d2["age"] = 27

In [4]:
d2

{'name': 'Emdadul', 'age': 27}

In [8]:
#Way 03:

d3 = dict(name= "Emdadul", age= 27)

In [9]:
d3

{'name': 'Emdadul', 'age': 27}

In [10]:
#Way 04:
d4 = dict([('name', 'Emdadul'), ("age", 27)])

In [63]:
d4

{'name': 'Emdadul', 'age': 27}

## Access value from a dictionary

In [64]:
info = dict(name="tareque", age=27, hobby="Cricket")

In [65]:
info

{'name': 'tareque', 'age': 27, 'hobby': 'Cricket'}

In [67]:
#access value using key 
info["name"]

'tareque'

In [68]:
#access value using get() methods
info.get("name")

'tareque'

## Adding, Replacing, delete Values

In [12]:
info = {"name": "Tareque", "age": 27}

In [13]:
info["Hobby"] = "Cricket"

In [14]:
info

{'name': 'Tareque', 'age': 27, 'Hobby': 'Cricket'}

In [15]:
#replace old value

info["name"] = "Emdadul"

In [16]:
info

{'name': 'Emdadul', 'age': 27, 'Hobby': 'Cricket'}

In [19]:
#Retrieving Values

print(info["Hobby"])

Cricket

In [25]:
#formating dictionaries

text = "My name is %(name)s. I am %(age)d years old"%info
#here d use for integer, s use for string and %info use for intigate dictonary

In [23]:
text

'My name is Emdadul. I am 27 years old'

In [72]:
#deleting items using del operator
info = {"name": "Tareque", "age": 27, "Hobby": "Cricket"}

del info["age"]

In [73]:
info

{'name': 'Tareque', 'Hobby': 'Cricket'}

In [74]:
#deleting items using pop method
info.pop("name")

'Tareque'

In [75]:
info

{'Hobby': 'Cricket'}

In [29]:
#comparing dictionary 
info = {"name": "Tareque", "age": 27}
info1 = {"name": "Tareque", "age": 27}

In [30]:
info == info1

True

In [31]:
info != info1

False

## dictionary methods

In [33]:
#keys() --> Returns a sequemce of keys

info = {"name": "Tareque", "age": 27, "hobby": "Cricket"}

In [34]:
info.keys()

dict_keys(['name', 'age', 'hobby'])

In [35]:
#values() --> return a sequence of value

info.values()

dict_values(['Tareque', 27, 'Cricket'])

In [40]:
#items --> Returns a sequence of tuples
info.items()

dict_items([('name', 'Tareque'), ('age', 27), ('hobby', 'Cricket')])

In [42]:
print(info.items())

dict_items([('name', 'Tareque'), ('age', 27), ('hobby', 'Cricket')])

In [43]:
item = info.items()

In [52]:
print(type(item))
for i in item:
    print(i)
    print(type(i))

<class 'dict_items'>
('name', 'Tareque')
<class 'tuple'>
('age', 27)
<class 'tuple'>
('hobby', 'Cricket')
<class 'tuple'>

In [54]:
#clear()

info.clear()

In [55]:
info

{}

In [60]:
#get(key) --> return a value for a key

info = info = {"name": "Tareque", "age": 27, "hobby": "Cricket"}
info.get("name")

'Tareque'

In [61]:
#pop(key) --> Remove a key and returns the value if the key exists

info.pop("name")

'Tareque'

In [62]:
info

{'age': 27, 'hobby': 'Cricket'}

In [48]:
#make a dictionary from tuple using zip method 
tple = ("name", "age", "hobby")
tple1 = ("tareque", 27, "Cricket")

dic = dict(zip(tple, tple1))

In [49]:
dic

{'name': 'tareque', 'age': 27, 'hobby': 'Cricket'}

In [50]:
lst = ["name", "age", "hobby"]
lst1 = ["Tareque", 27, "Cricket"]

dic = dict(zip(lst, lst1))

In [51]:
dic

{'name': 'Tareque', 'age': 27, 'hobby': 'Cricket'}

## Traversing Dictionaries

In [82]:
info = {"name": "Tareque", "age": 27, "hobby": "Cricket"}

In [83]:
# Way 01
items = info.items()
for key, value in items:
#     key, value = item
    print(key,": ", value)

name :  Tareque
age :  27
hobby :  Cricket

In [84]:
# Way 02

for key in info:
    print(key, ": ", info[key])

name :  Tareque
age :  27
hobby :  Cricket

## Traversing nested dictionary

In [89]:
players = {"virat Kohli": {"ODI": 7212, "Test": 3245}, 
           "Sachin": {"ODI": 18426, "Test": 15921}}

In [91]:
for player_name, player_details in players.items():
    print("player: ", player_name)
    print(" Run Scored in ODI: ", player_details["ODI"])
    print(" Run Scored in Test:", player_details["Test"])

player:  virat Kohli
 Run Scored in ODI:  7212
 Run Scored in Test: 3245
player:  Sachin
 Run Scored in ODI:  18426
 Run Scored in Test: 15921

## Simple programs on Dictionary

Program 01: Write a function histogram that takes string as parameter and generates a frequency of
characters contained in it. 

s = "AAPPLE"

the porgam should create a dictionary 

D = {‘A’: 2, ‘E’: 1, ‘P’: 2, ‘L’: 1}

In [97]:
def histogram(string):
    D = dict()
    
    for char in string:
        if char not in D:
            D[char] = 1
        else:
            D[char] = D[char]+1
    return D

s = "AAPPLE"
print(histogram(s))

{'A': 2, 'P': 2, 'L': 1, 'E': 1}

Program 02: Write a program to count the frequency of charcters using the get() method

In [100]:
def histogram(string):
    D = dict()
    
    for char in string:
        if char not in D:
            D[char] = 1
        else:
            D[char] = D.get(char)+1
    return D

s = "AAPPLE"
print(histogram(s))

{'A': 2, 'P': 2, 'L': 1, 'E': 1}

Program 03: Write a program to print and store squares of numbers into a dictionary.

In [101]:
def sq_of_numbers(n):
    d = dict()
    for i in range(1, n+1):
        if i not in d:
            d[i] = i * i
    return d
print("Square of Number: ")

z = sq_of_numbers(5)
print(z)

Square of Number:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Program 04: Write a program to pass a list to a function. Calculate the total number of positive and negative numbers from the list and then display the count in terms of dictionary.

input: L = [1,-2, -3, 4]
output: {"Neg": 2, "Pos":2}

In [104]:
def pos_neg_number(lst):
    dic = dict()
    dic["Neg"] = 0
    dic["Pos"] = 0
    for i in lst:
        if i > 0:
            dic["Pos"] += 1
        else:
            dic["Neg"] += 1
    return dic

print(pos_neg_number([1,-2, -3, 4]))

{'Neg': 2, 'Pos': 2}