PROGRAM 01: Write a program to add 10 consecutive numbers starting from 1 using the while loop.

In [1]:
count = 0
sum = 0

while count <= 10:
    sum = sum + count 
    count = count +1 

print(sum)

55

Program 02: Write a program to ﬁnd the sum of the digits of a given number.

In [17]:
number = int(input("Enter a number: "))
rest_digit = number
sum = 0


while rest_digit > 0:
    single_digit = rest_digit % 10
    sum = sum + single_digit
    rest_digit = rest_digit // 10

print(sum)

Enter a number: 12345
15

In [5]:
number = 1234 % 10

In [3]:
number

4

In [12]:
number = 1234 // 10000

In [13]:
number

0

PROGRAM 03: Write a program to display the reverse of the number entered.

In [21]:
number = int(input("Enter a number: "))
rest_digit = number
sum = 0


while rest_digit > 0:
    single_digit = rest_digit % 10
    sum = sum*10 + single_digit
  
    rest_digit = rest_digit // 10

print(sum)

Enter a number: 1234
4321

PROGRAM 04:  Write a program to print the sum of the numbers from 1 to 20 (1 and 20 are included) that are divisible by 5 using the while loop.

In [22]:
number = 20 
sum = 0
while number >= 1:
    
    if number % 5 == 0:
        sum = sum + number
        number -= 1
    else:
        number -= 1
print(sum)

50

PROGRAM 05: Write a program using the while loop to print the factorial of a number.

In [26]:
number = int(input("Enter a number: "))
factorial = 1
while number >= 1:
    factorial = factorial * number
    number -= 1

print(factorial)

Enter a number: 6
720

PROGRAM 06: Write a program to check whether the number entered is an Armstrong number or not.

In [41]:
number = int(input("Enter a number: "))
rest_digit = number
sum = 0


while rest_digit > 0:
    single_digit = rest_digit % 10
    sum = sum + (single_digit*single_digit*single_digit)
    rest_digit = rest_digit // 10

if number == sum:
    print("The number is armstrong number")
else:
    print("The number is not armstrong number")

Enter a number: 1634
The number is not armstrong number

In [48]:
list(range(1,22,3)) #range(start, finish, step)

[1, 4, 7, 10, 13, 16, 19]

In [51]:
for i in range(1, 20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

PROGRAM 7: Display capital letters from A to Z.

In [56]:
print("The capital letters A to Z are as follows: ")

for i in range(65,91):
    print(chr(i), end=" ")

The capital letters A to Z are as follows:
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

PROGRAM 8: Use for loop to print numbers from 1 to 10 in the reverse order.

In [57]:
print("Number from 1 to 10 in reverse order: ")

for i in range(10,0,-1):
    print(i,end=" ")

Number from 1 to 10 in reverse order:
10 9 8 7 6 5 4 3 2 1

PROGRAM 09: Write a program to print even numbers from 0 to 10 and ﬁnd their sum.

In [61]:
sum = 0

for i in range(0, 11):
    if i % 2 == 0:
        print(i)
        sum = sum + i
print("Sum of even numbers from 0 to 10 is: ", sum)

0
2
4
6
8
10
Sum of even numbers from 0 to 10 is:  30

PROGRAM 10: Write a program to calculate the sum of numbers from 1 to 20 which are not divisible 2, 3 or 5.

In [63]:
print("Numbers from 1 to 20 which are not divisible by 2, 3 and 5")
sum = 0
for i in range(1, 21):
    if i % 2 != 0 and i % 3 != 0 and i % 5 != 0:
        sum = sum + i
print(sum)

Numbers from 1 to 20 which are not divisible by 2, 3 and 5
68

PROGRAM 11: Write a program to print namta

In [8]:
for i in range(1,21):
    for j in range(1, 11):
        print(i, "*",  j, " = ", i * j)
    print("-----------------------------------------")

1 * 1  =  1
1 * 2  =  2
1 * 3  =  3
1 * 4  =  4
1 * 5  =  5
1 * 6  =  6
1 * 7  =  7
1 * 8  =  8
1 * 9  =  9
1 * 10  =  10
-----------------------------------------
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20
-----------------------------------------
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
3 * 10  =  30
-----------------------------------------
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
4 * 10  =  40
-----------------------------------------
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50
-----------------------------------------
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
6 * 10  =  60
-----------------------------------------
7 * 1  =  7
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
7 * 10  =  70
-----------------------------------------
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
8 * 10  =  80
-----------------------------------------
9 * 1  =  9
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81
9 * 10  =  90
-----------------------------------------
10 * 1  =  10
10 * 2  =  20
10 * 3  =  30
10 * 4  =  40
10 * 5  =  50
10 * 6  =  60
10 * 7  =  70
10 * 8  =  80
10 * 9  =  90
10 * 10  =  100
-----------------------------------------
11 * 1  =  11
11 * 2  =  22
11 * 3  =  33
11 * 4  =  44
11 * 5  =  55
11 * 6  =  66
11 * 7  =  77
11 * 8  =  88
11 * 9  =  99
11 * 10  =  110
-----------------------------------------
12 * 1  =  12
12 * 2  =  24
12 * 3  =  36
12 * 4  =  48
12 * 5  =  60
12 * 6  =  72
12 * 7  =  84
12 * 8  =  96
12 * 9  =  108
12 * 10  =  120
-----------------------------------------
13 * 1  =  13
13 * 2  =  26
13 * 3  =  39
13 * 4  =  52
13 * 5  =  65
13 * 6  =  78
13 * 7  =  91
13 * 8  =  104
13 * 9  =  117
13 * 10  =  130
-----------------------------------------
14 * 1  =  14
14 * 2  =  28
14 * 3  =  42
14 * 4  =  56
14 * 5  =  70
14 * 6  =  84
14 * 7  =  98
14 * 8  =  112
14 * 9  =  126
14 * 10  =  140
-----------------------------------------
15 * 1  =  15
15 * 2  =  30
15 * 3  =  45
15 * 4  =  60
15 * 5  =  75
15 * 6  =  90
15 * 7  =  105
15 * 8  =  120
15 * 9  =  135
15 * 10  =  150
-----------------------------------------
16 * 1  =  16
16 * 2  =  32
16 * 3  =  48
16 * 4  =  64
16 * 5  =  80
16 * 6  =  96
16 * 7  =  112
16 * 8  =  128
16 * 9  =  144
16 * 10  =  160
-----------------------------------------
17 * 1  =  17
17 * 2  =  34
17 * 3  =  51
17 * 4  =  68
17 * 5  =  85
17 * 6  =  102
17 * 7  =  119
17 * 8  =  136
17 * 9  =  153
17 * 10  =  170
-----------------------------------------
18 * 1  =  18
18 * 2  =  36
18 * 3  =  54
18 * 4  =  72
18 * 5  =  90
18 * 6  =  108
18 * 7  =  126
18 * 8  =  144
18 * 9  =  162
18 * 10  =  180
-----------------------------------------
19 * 1  =  19
19 * 2  =  38
19 * 3  =  57
19 * 4  =  76
19 * 5  =  95
19 * 6  =  114
19 * 7  =  133
19 * 8  =  152
19 * 9  =  171
19 * 10  =  190
-----------------------------------------
20 * 1  =  20
20 * 2  =  40
20 * 3  =  60
20 * 4  =  80
20 * 5  =  100
20 * 6  =  120
20 * 7  =  140
20 * 8  =  160
20 * 9  =  180
20 * 10  =  200
-----------------------------------------

PROGRAM 12: Write a program to display multiplication tables from 1 to 5.

In [21]:
print("Multiplication Table from 1 to 5")

for i in range(1, 11):
    for j in range(1, 6):
        print(format(i*j,"5d"),  end=" ")
    print()

Multiplication Table from 1 to 5
    1     2     3     4     5
    2     4     6     8    10
    3     6     9    12    15
    4     8    12    16    20
    5    10    15    20    25
    6    12    18    24    30
    7    14    21    28    35
    8    16    24    32    40
    9    18    27    36    45
   10    20    30    40    50

PROGRAM 13: Write a program to display the pattern of stars given as follows:
*   *   *   *   *
*   *   *   * 
*   *   *   
*   *   
*

In [36]:
print("Star Pattern Display")

for i in range(6):
    for j in range(i, 6):
        print(" * ", end = " ")
    print()

Star Pattern Display
 *   *   *   *   *   *
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

PROGRAM 14: Write a program to display the pattern of stars given as follows:

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [29]:
print("Star Pattern Display")

for i in range(6):
    for j in range(i):
        print(" * ", end = " ")
    print()

Star Pattern Display
 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

PROGRAM 15 Write a program to display the pattern of numbers given as follows:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [45]:
print("Number Pattern Display")

for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

Number Pattern Display
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

PROGRAM 16: Write a program to display the pattern of numbers given as follows:
1
1 2
1 2 3
1 2 3 4
1 2 3
1 2
1

In [46]:
print("Number Pattern Display")

for i in range(1,8):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

Number Pattern Display
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

Problem 17: Write a program to demostrate the use of the break statement

In [10]:
print("A program to demostrate the use of the break statement")

for i in range(1, 100):
    if i == 11:
        break
    else:
        print(i, end=" ")
print("\n" "Break statemnt test")

A program to demostrate the use of the break statement
1 2 3 4 5 6 7 8 9 10
Break statemnt test

Problem 18: Write a program to demostrate the use of the continue statement

In [15]:
print("A program to demostrate the use of the break statement")

for i in range(1, 10):
    if i == 5:
        continue
    print(i, end=" ")

A program to demostrate the use of the break statement
1 2 3 4

break & continue এর মধ্যে পার্থক্য হচ্ছে ব্রেক স্টেটমেন্ট ব্যবহার করলে পুরো প্রোগ্রাম বা লুপ থেকে বের করে দিবে আর কন্টনিউ স্টেটমেন্ট ব্যবহার করলে শুধুমাত্র সে টার পরের লাইনগুলো এক্সিকিউট না করে আবার লুপ এর কাছে চলে যায়।