## Creating Tuples

In [1]:
t1 = () #create empty tuples
t2 = (12, 13, 14, 15) #create a typlw with 4 numeric element
t3 = ("Emdadul", "Hoque", "Tareque") #Create a tuple with string
t4 = "a", "b", "c", "d" # create a typle without parenthesis

In [4]:
t = t1, t2, t3, t4

In [12]:
t

((), (12, 13, 14, 15), ('Emdadul', 'Hoque', 'Tareque'), ('a', 'b', 'c', 'd'))

In [15]:
# Point to remember: A single value in parenthesis is not a tuple

t5 = (4)
print("Single vaule in parenthesis", type(t5))
t6 = (4, )
print("Single vaule in parenthesis with comma", type(t6))

Single vaule in parenthesis <class 'int'>
Single vaule in parenthesis with comma <class 'tuple'>

In [6]:
lst1 = []
lst2 = [1, 2, 3]
lst3 = ["a", "b"]

In [7]:
lst = lst1, lst2, lst3

In [8]:
lst

([], [1, 2, 3], ['a', 'b'])

In [11]:
type(lst)

tuple

In [20]:
### Create a tuple with tuple  function 

string = "Emdadul"
t1 = tuple(string)

In [21]:
t1

('E', 'm', 'd', 'a', 'd', 'u', 'l')

In [25]:
# only one argument accept tuple
t2 = tuple(["Emdadul", 1, 2, 3], [1, 2, 3, 4])

TypeError: tuple expected at most 1 argument, got 2

In [26]:
t2 = (["Emdadul", 1, 2, 3], [1, 2, 3, 4])

In [27]:
t2

(['Emdadul', 1, 2, 3], [1, 2, 3, 4])

## Inbuilt functions for tuples

len()--> Returns the number of elements in a tuple
max()--> Returns the element with the greatest value
min()--> Returns the element with the smallest value
sum()--> Returns the sum of all the elements of a tuple
index(x)--> Returns the index of element x
count(x)--> Returns the number of occurrences of element x

In [30]:
t2 = (1, 2, 3, 4)

In [31]:
sum(t2)

10

In [39]:
t3 = ([1,2,3,4],"a","b","c", ("Emdadul", "Haque", 25, 27))

In [40]:
t3

([1, 2, 3, 4], 'a', 'b', 'c', ('Emdadul', 'Haque', 25, 27))

In [41]:
len(t3)

5

In [51]:
t4 = (1, 2, 3, 4,100, -100, 20, 30,3,4,5)

In [43]:
max(t4)

100

In [44]:
min(t4)

-100

In [46]:
t4.index(-100)

5

In [61]:
t4.count(3)

2

## Tuple  indexing & slicing

In [193]:
t5 = (1, 2, 3, 4, 5, 6)

In [65]:
t5[4], t5[3]

(5, 4)

In [55]:
t5[::-1]

(6, 5, 4, 3, 2, 1)

In [56]:
t5

(1, 2, 3, 4, 5, 6)

In [59]:
t5[::-1]

(6, 5, 4, 3, 2, 1)

In [60]:
t5[::2]

(1, 3, 5)

In [67]:
t5[2:4]

(3, 4)

### Operations of tuples

In [68]:
# The + Operator 
t1 = (1, 2, 3)
t2 = (4, 5, 6)

In [70]:
t1 = t1+t2

In [71]:
t1

(1, 2, 3, 4, 5, 6)

In [74]:
t1+(" ", )

(1, 2, 3, 4, 5, 6, ' ')

In [75]:
# The * operator 
t3 = (2, 3, 4)
t3 = t3*3

In [76]:
t3

(2, 3, 4, 2, 3, 4, 2, 3, 4)

In [81]:
# টাপলে ইনডেক্স ধর ধরে ইন্ডিভিজিউয়াল আইটেমকে লুপ করে এক্সেস করা যায় না  
t = ((1, 2, 3, 4))

for i in t:
    print(t)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [87]:
#traverse tuples from a list
t = [(1,"Emdadul"), (2, "Hoque"), (3, "Tareque")]
for no, name in t:
    print(no, name)

1 Emdadul
2 Hoque
3 Tareque

## The zip() Function

In [109]:
lst1 = [1, 2, 3, 4]
lst2 = "abcd"

In [110]:
list(zip(lst1, lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [112]:
# another example 

lst1 =["Laptop", "Mobile", "Headphone"]
lst2 = [100000, 12000, 5000]

In [113]:
lst3 = list(zip(lst1, lst2))

In [114]:
lst3

[('Laptop', 100000), ('Mobile', 12000), ('Headphone', 5000)]

In [115]:
tpl = tuple(lst3)

In [116]:
tpl

(('Laptop', 100000), ('Mobile', 12000), ('Headphone', 5000))

In [117]:
tple = tuple(zip(lst1, lst2))

In [126]:
tple

(('Laptop', 100000), ('Mobile', 12000), ('Headphone', 5000))

### The inverse zip(*) function

In [124]:
product, prize = zip(*tple)
print(product)
print(prize)

('Laptop', 'Mobile', 'Headphone')
(100000, 12000, 5000)

In [125]:
type(product)

tuple

In [127]:
#more examples on zip (*) function

matrix = [(1,2), (3, 4), (5,6)]

z = zip(*matrix)

In [129]:
tuple(z)

((1, 3, 5), (2, 4, 6))

In [131]:
matrix = [[1, 2], [3, 4], [5, 6]]

z = zip(*matrix)

In [135]:
tuple(z)

()

Program 03: Consider an example of a tuple as T = (1, 3, 2, 4, 6, 5). Write a program to store numbers
present at odd index into a new tuple.

In [136]:
def odd_tuple(tple):
    return tple[::2]

tple = (1, 2, 3, 4, 5, 6)
new_tple = odd_tuple(tple)

print(new_tple)

(1, 3, 5)

In [134]:
new_tple

(1, 3, 5)

# Sets

## Creating Sets

In [143]:
s1 = {1, 2, 3, 4, 5}

In [144]:
s1

{1, 2, 3, 4, 5}

In [146]:
#if you want to create a empty, you can not you empty curly brackets 
s2 = {}

In [147]:
type(s2)

dict

In [150]:
# if you want to create empty set, using in build set function 
s1 = set()

In [151]:
s1

set()

In [152]:
#convert list to set
lst = [1, 2, 3, 4 , 5, 6]
s = set(lst)

In [153]:
s

{1, 2, 3, 4, 5, 6}

In [154]:
# why we use set: when you want to enique value in your list

lst = [1, 2, 3, 4, 5, 2, 2, 3, 1, 4, 3]

s = set(lst)

In [155]:
s

{1, 2, 3, 4, 5}

In [173]:
# the set in and not in operator
s = {1, 2, 3, 4}
3 in s

True

In [175]:
4 not in s

False

### zip() function and zip(*) function in set

In [169]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {10, 20, 30, 40, 50, 60}

In [170]:
s3 = set(zip(s1, s2))

{(1, 50), (2, 20), (3, 40), (4, 10), (5, 60), (6, 30)}

## Methods of Set class

In [176]:
s = {10, 20, 30, 40, 50, 60}

In [177]:
s.add(70) # add a element

In [178]:
s

{10, 20, 30, 40, 50, 60, 70}

In [180]:
s.remove(30) # remove a element from a set

In [181]:
s

{10, 20, 40, 50, 60, 70}

In [182]:
s.clear() # remove all element

In [183]:
s

set()

In [184]:
s1 = {1, 2, 3, 4}
s2 = {1, 2, 3, 4, 5} 

s1.issubset(s2)

True

In [197]:
s2.issuperset(s1)

False

In [199]:
s = {2, 3, 1, 4, 5, 6}

In [204]:
s1 = sorted(s)

In [205]:
print(s1)
print(type(s1))

[1, 2, 3, 4, 5, 6]
<class 'list'>

## Set operations

In [186]:

s1 = {1, 2, 3, 4, 5}
s2 = {2, 4, 5, 6}

In [187]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [188]:
s1.intersection(s2)

{2, 4, 5}

In [189]:
s1.difference(s2)

{1, 3}

In [190]:
s1.symmetric_difference(s2)

{1, 3, 6}