
## Conection with MongoDb

In [77]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://Emdadul:emdadul446@cluster0.qcpwmna.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [6]:
client

MongoClient(host=['ac-8hwga4n-shard-00-01.qcpwmna.mongodb.net:27017', 'ac-8hwga4n-shard-00-00.qcpwmna.mongodb.net:27017', 'ac-8hwga4n-shard-00-02.qcpwmna.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-s1ullc-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x7f8e6268f850>)

In [11]:
db = client["emo_db"]

In [78]:
data_collection = db["record"]

## Insert Data In MongoDB

In [80]:
data = {
    "name" : "Emdadul",
    "age" : 27,
}

In [81]:
data_collection.insert_one(data)

In [82]:
data2 = [
    {"name": "Rahim"  , "age": 25 },
    {"name": "Karim" , "age": 34},
    {"name": "Josim" , "age": 32},
    {"name": "dipjol", "age": 14},
    {"name":  "sonu" , "age": 25},
]

In [83]:
data_collection.insert_many(data2)

In [84]:
data = data_collection.find()

In [85]:
for item in data:
    print(item)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Tareque', 'age': 27}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Tareque', 'age': 29}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4f3726cc679b15ffde76c'), 'name': 'Emdadul', 'age': 27}
{'_id': ObjectId('64c4f3736cc679b15ffde76d'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4f3736cc679b15ffde76e'), 'name': 'Karim', 'age': 34}
{'_id': ObjectId('64c4f3736cc679b15ffde76f'), 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4f3736cc679b15ffde770'), 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4f3736cc679b15ffde771'), 'name': 'sonu', 'age': 25}

## Find Data from MongoDB

In [26]:
find_Data = data_collection.find_one({"name": "Emdadul"})

In [27]:
print(find_Data)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Emdadul', 'age': 27}

In [30]:
data3 = [
    {"name" : "Emdadul", "age" : 29},
    {"name" : "Rahim", "age" : 30}
]

In [31]:
data_collection.insert_many(data3)

In [35]:
find_Data = data_collection.find({"name": "Emdadul"})

In [37]:
type(find_Data)

pymongo.cursor.Cursor

In [38]:
for data in find_Data:
    print(data)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Emdadul', 'age': 27}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Emdadul', 'age': 29}

In [39]:
data4 = [
    {"_id": 1,"name": "Rahim"  , "age": 25 },
    {"_id": 2,"name": "Karim" , "age": 34},
    {"_id": 3,"name": "Josim" , "age": 32},
    {"_id": 4,"name": "dipjol", "age": 14},
    {"_id": 5,"name":  "sonu" , "age": 25},
    {"_id": 6, "name": "Rahim"  , "age": 25}
]

In [40]:
data_collection.insert_many(data4)

In [41]:
all_data = data_collection.find()

In [42]:
for data in all_data:
    print(data)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Emdadul', 'age': 27}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4d0686cc679b15ffde765'), 'name': 'Karim', 'age': 34}
{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Emdadul', 'age': 29}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 2, 'name': 'Karim', 'age': 34}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}

## Filtre Data from MongoDB

In [47]:
filtre_data = data_collection.find({"_id": {"$gte": 3}})

In [48]:
for data in filtre_data:
    print(data)

{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}

In [49]:
filtre_data = data_collection.find({"_id": {"$gt": 3}})

In [50]:
for data in filtre_data:
    print(data)

{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}

In [51]:
filtre_data = data_collection.find({"_id": {"$lt": 3}})

In [52]:
for data in filtre_data:
    print(data)

{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 2, 'name': 'Karim', 'age': 34}

## Update Data

In [53]:
data_collection.update_many({"name": "Emdadul"}, {"$set": {"name": "Tareque"}})

In [54]:
all_data = data_collection.find()

In [55]:
for data in all_data:
    print(data)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Tareque', 'age': 27}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4d0686cc679b15ffde765'), 'name': 'Karim', 'age': 34}
{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Tareque', 'age': 29}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 2, 'name': 'Karim', 'age': 34}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}

## Sort Data

In [63]:
all_data = data_collection.find().sort("name")

In [64]:
for data in all_data:
    print(data)

{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde765'), 'name': 'Karim', 'age': 34}
{'_id': 2, 'name': 'Karim', 'age': 34}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Tareque', 'age': 27}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Tareque', 'age': 29}
{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': 5, 'name': 'sonu', 'age': 25}

In [65]:
all_data = data_collection.find().sort("age")

In [66]:
for data in all_data:
    print(data)

{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Tareque', 'age': 27}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Tareque', 'age': 29}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde765'), 'name': 'Karim', 'age': 34}
{'_id': 2, 'name': 'Karim', 'age': 34}

### Delete Data

In [68]:
data_collection.delete_one({"name": "karim"})

In [69]:
all_data = data_collection.find()

In [70]:
for data in all_data:
    print(data)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Tareque', 'age': 27}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4d0686cc679b15ffde765'), 'name': 'Karim', 'age': 34}
{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Tareque', 'age': 29}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 2, 'name': 'Karim', 'age': 34}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}

In [75]:
x = data_collection.delete_many({"name": "Karim"})

print(x.deleted_count)

2

In [76]:
all_data = data_collection.find()
for data in all_data:
    print(data)

{'_id': ObjectId('64c4cf5d6cc679b15ffde763'), 'name': 'Tareque', 'age': 27}
{'_id': ObjectId('64c4d0686cc679b15ffde764'), 'name': 'Rahim', 'age': 25}
{'_id': ObjectId('64c4d0686cc679b15ffde766'), 'name': 'Josim', 'age': 32}
{'_id': ObjectId('64c4d0686cc679b15ffde767'), 'name': 'dipjol', 'age': 14}
{'_id': ObjectId('64c4d0686cc679b15ffde768'), 'name': 'sonu', 'age': 25}
{'_id': ObjectId('64c4ed8b6cc679b15ffde769'), 'name': 'Tareque', 'age': 29}
{'_id': ObjectId('64c4ed8b6cc679b15ffde76a'), 'name': 'Rahim', 'age': 30}
{'_id': 1, 'name': 'Rahim', 'age': 25}
{'_id': 3, 'name': 'Josim', 'age': 32}
{'_id': 4, 'name': 'dipjol', 'age': 14}
{'_id': 5, 'name': 'sonu', 'age': 25}
{'_id': 6, 'name': 'Rahim', 'age': 25}

In [ ]:
# Delete collection 
data_collection.drop()