## Example 1. Access elements using index labels

In [2]:
import pandas as pd

In [6]:
groceries = pd.Series(data = [30, 20, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

In [7]:
groceries

eggs       30
apples     20
milk      Yes
bread      No
dtype: object

In [8]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples    20
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples    20
dtype: object

Do we need bread:
 bread    No
dtype: object

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

In [20]:
groceries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [21]:
groceries['eggs']

30

In [18]:
groceries.loc[['eggs', 'apples']] # data_frame.loc --> Using for accessing non numerical index

eggs      30
apples    20
dtype: object

In [19]:
groceries.iloc[[2,3]] # # data_frame.iloc --> Using for accessing numerical index

milk     Yes
bread     No
dtype: object

In [23]:
groceries[[1, 2, 3]]

apples     20
milk      Yes
bread      No
dtype: object

## Example 2. Mutate elements using index labels

In [24]:
print('Original Grocery List:\n', groceries)

Original Grocery List:
 eggs       30
apples     20
milk      Yes
bread      No
dtype: object

In [25]:
groceries['eggs'] = 2

In [26]:
groceries

eggs        2
apples     20
milk      Yes
bread      No
dtype: object

In [27]:
groceries[['eggs', 'apples']] = [10, 20]

In [28]:
groceries

eggs       10
apples     20
milk      Yes
bread      No
dtype: object

In [29]:
groceries[['eggs', 'apples']] = 'Yes'

In [30]:
groceries

eggs      Yes
apples    Yes
milk      Yes
bread      No
dtype: object

In [31]:
groceries[['eggs', 'apples']] = 100

In [32]:
groceries

eggs      100
apples    100
milk      Yes
bread      No
dtype: object

## Deleting Elements from a pandas Series

We can also delete items from a Pandas Series by using the .drop() method. The Series.drop(label) method removes the given label from the given Series. We should note that the Series.drop(label) method drops elements from the Series out-of-place, meaning that it doesn't change the original Series being modified. Let's see how this works:

## Example 3. Delete elements out-of-place using drop()

In [33]:
groceries

eggs      100
apples    100
milk      Yes
bread      No
dtype: object

In [34]:
groceries.drop('milk')

eggs      100
apples    100
bread      No
dtype: object

In [35]:
groceries # pd.drop --> মেইন পাণ্ডা সিরিজ থেকে ডিলেট করে নি

eggs      100
apples    100
milk      Yes
bread      No
dtype: object

## Example 4. Delete elements in-place using drop()

In [36]:
groceries.drop('milk', inplace=True)

In [37]:
groceries

eggs      100
apples    100
bread      No
dtype: object

## Additional Reading - Pandas Series Documentation

Reindexing/ Selection/ Label manipulation ---->  https://pandas.pydata.org/pandas-docs/stable/reference/series.html#reindexing-selection-label-manipulation

Indexing and Iteration ---->  
https://pandas.pydata.org/pandas-docs/stable/reference/series.html#indexing-iteration