## Example 1. Element-wise basic arithmetic operations

In [2]:
import pandas as pd

In [3]:
fruits = pd.Series(data = [10, 6, 3], index = ['apples', 'orange', 'bananas'])

In [4]:
fruits

apples     10
orange      6
bananas     3
dtype: int64

In [5]:
fruits + 2

apples     12
orange      8
bananas     5
dtype: int64

In [6]:
fruits * 2

apples     20
orange     12
bananas     6
dtype: int64

In [7]:
fruits / 2

apples     5.0
orange     3.0
bananas    1.5
dtype: float64

In [8]:
fruits - 2

apples     8
orange     4
bananas    1
dtype: int64

## Example 2. Use mathematical functions from NumPy to operate on Series

In [9]:
import numpy as np

In [10]:
np.exp(fruits)

apples     22026.465795
orange       403.428793
bananas       20.085537
dtype: float64

In [11]:
np.power(fruits, 2)

apples     100
orange      36
bananas      9
dtype: int64

In [12]:
np.sqrt(fruits)

apples     3.162278
orange     2.449490
bananas    1.732051
dtype: float64

## Example 3. Perform arithmetic operations on selected elements

In [14]:
fruits['bananas'] + 2

5

In [15]:
fruits

apples     10
orange      6
bananas     3
dtype: int64

In [18]:
fruits['bananas'] = fruits['bananas'] + 2

In [19]:
fruits

apples     10
orange      6
bananas     5
dtype: int64

In [20]:
fruits['oranges'] = 2

In [21]:
fruits

apples     10
orange      6
bananas     5
oranges     2
dtype: int64

In [23]:
fruits['oranges'] = fruits['bananas'] * 2

In [24]:
fruits

apples     10
orange      6
bananas     5
oranges    10
dtype: int64

In [ ]:
fruits[['oranges']] = fruits['bananas'] * 2