## Creating lists

### creating list using constructor of the list class

In [1]:
#create an empty list
l1 = list()
l1

[]

In [3]:
#create a list with integer elements
l2 = list([10, 20, 30, 40])
l2

[10, 20, 30, 40]

In [4]:
#create a list with string elements
l3 = list(["Banana", "Apple", "Grapes"])
l3

['Banana', 'Apple', 'Grapes']

In [9]:
#create a list with inbuilt range() function
l4 = list(range(1, 11))
l4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
l5 = list("xyz")
l5

['x', 'y', 'z']

### Creat a list with out using constructor

In [11]:
#create a list with any integer elements

l1 = [10, 20, 30, 40, 50]
l1

[10, 20, 30, 40, 50]

In [12]:
#create a list with three string elements
l2 = ["Apple", "Banana", "Mangoes"]
l2

['Apple', 'Banana', 'Mangoes']

In [13]:
#create a list with different kinds of data types

l3 = ["Apple", "Banana", "Mangoes", 10, 20, 30, 40, 3.58, ["Emdadul", "Tareque"]]
l3

['Apple', 'Banana', 'Mangoes', 10, 20, 30, 40, 3.58, ['Emdadul', 'Tareque']]

## Accessing the elements of a list

In [14]:
l1 = [10, 20 , 30, 40, 50]

In [16]:
l1[0]

10

In [17]:
l1[3]

40

In [23]:
# Access element of a list using negative indexing

print(l1)
print(l1[-1], l1[-2], l1[-3])

[10, 20, 30, 40, 50]
50 40 30

In [24]:
# Access elemnt of list using loop

lst = [1, 2, 3, 4, 5, 6, 7, 8]

for item in lst:
    print(item, end=" ")

1 2 3 4 5 6 7 8

#### Problem 01: Find even number from a list

In [27]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
print("Given list: ", lst)
print("Even numbers:", end=" ")
for item in lst:
    if item % 2 == 0:
        print(item, end=" ")

Given list:  [1, 2, 3, 4, 5, 6, 7, 8]
Even numbers: 2 4 6 8

## List Slicing

In [28]:
l1 = [10, 20, 30, 40, 50]
l1[1: 4]

[20, 30, 40]

In [29]:
l1[1::2]

[20, 40]

In [30]:
# reverse printing 
l1[::-1]

[50, 40, 30, 20, 10]

In [31]:
l1[-2::-1]

[40, 30, 20, 10]

## Python inbuild functions for lists

len() --> Returns the number of elements in a list
max() --> Returns the elements with the greatest value
min() --> Returns the elements with the lowest value
sum() --> Returns the sum of all the elements
random.shuffle() --> Shuffles the elements randomly

In [32]:
l1 = [10, 20, 30, 40, 50]
len(l1)

5

In [33]:
max(l1)

50

In [34]:
min(l1)

10

In [35]:
sum(l1)

150

In [38]:
import random
random.shuffle(l1)

In [39]:
l1

[40, 30, 10, 20, 50]

## The List Operator

In [40]:
# the + operator: The concatenation operator is used to join two lists

a = [1, 2, 3]
b = [4, 5, 6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [43]:
# the * operator: the multiplication operator is used to replicate the elements of a list

list1 = [10, 20, 30]
list2 = [20, 30, 40]

In [45]:
list2*2

[20, 30, 40, 20, 30, 40]

In [46]:
# The in operator: The in operator used to determine whether an element is in a list. it returns True if the elements is present and False return if the element is absent in the list.

list1 = [10, 20 , 30]

30 in list1

True

In [48]:
40 in list1

False

In [49]:
# The is operator: is operator used for checking is two variable indocate samne object or not 

A = "Emdadul"
B = "Emdadul"

A is B

True

In [50]:
A = [10, 20 , 30]
B = [10, 20, 30]

A is B

False

The del Operator: The del operator stands for Delete. The del operator is used to remove the elements from a list. To delete the element of a list, the elements of the list are accessed using their index position and the del operator is placed before them.

In [51]:
lst = [10, 20, 30, 40, 50]

In [52]:
del lst[3] #Remove 3rd element from the list

In [53]:
lst

[10, 20, 30, 50]

In [54]:
del lst[-1] # Remove lst element from the list

In [55]:
lst

[10, 20, 30]

In [56]:
del lst[1:3]

In [57]:
lst

[10]

## List comprehensions

In [61]:
#with out list comprehension
lst = [10, 20, 30, 40, 50]

for i in range(0, len(lst)):
    lst[i] += 10

In [62]:
lst

[20, 30, 40, 50, 60]

In [63]:
#Using list comprehension

lst = [10, 20, 30, 40, 50]

lst = [x+10 for x in lst]

In [67]:
lst

[1, 2, 3, 4, 5, 6]

#### Problem 02: Write a program to create a list with lements 1,2,3,4,5. Display even elements of the list using list comprehension.

In [72]:
lst = [1, 2, 3, 4, 5, 6]
print("Element of the list: ", lst)
even = [x for x in lst if x%2 == 0]
print("Even numbers from the list: ",even)

Element of the list:  [1, 2, 3, 4, 5, 6]
Even numbers from the list:  [2, 4, 6]

#### Problem 03: Write a program to create a list ‘A’ to generate squares of a number (from 1 to 10), list ‘B’ to generate cubes of a number (from 1 to 10) and list ‘C’ with those elements that are even and present in list ‘A’.

In [1]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
A = [x*x for x in lst]
print("list A: ", A)
B = [x*x*x for x in lst]
print("list B: ", B)
c = [x for x in A if x%2==0]
print("Even number for A: ", c)

list A:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
list B:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Even number for A:  [4, 16, 36, 64, 100]

## Traversing List

In [5]:
lst = [1, 2, 3, 4, 5, 6]
#travers list in pythonic way

for item in lst:
    print(item, end=", ")

1, 2, 3, 4, 5, 6,

In [6]:
#if you want to access index in pythonic way 

for index, item in enumerate(lst):
    print(index, ": ", item)

0 :  1
1 :  2
2 :  3
3 :  4
4 :  5
5 :  6

## List Methods

append() --> Adds an element x to the end of the list. None is the return type of method appended

In [90]:
lst = [1, 2, 3, 4]
lst.append(5)

In [91]:
lst

[1, 2, 3, 4, 5]

extend() --> Appends all the elements of list

In [92]:
lst.extend([6, 8, 9]) # যখন একটা লিস্টে শুধুমাত্র একটা ভ্যালু এড করতে হবে তখন append() মেথড ব্যবহার করতে হবে। আর যখন একটা লিস্ট এড করতে হবে তখন extend() মেথড ব্যবহার করতে হবে।

In [93]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

clear() --> Removes all the items from the
list.

In [94]:
lst = [1, 2, 3, 4]
lst.clear()

In [96]:
lst

[]

count() --> Returns the number of times the
element x appears in the list.

In [97]:
lst = [1, 2, 3, 4, 1, 2, 3, 3, 3, 4, 5, 5]
lst.count(3)

4

copy () --> This method returns a shallow copy of the list.

In [98]:
lst = [1, 2 ,4, 3, 4, 5]
lst2 = lst.copy()

In [99]:
lst2

[1, 2, 4, 3, 4, 5]

In [101]:
#different way 
lst = [1, 2 ,4, 3, 4, 5]
lst2 = lst[:]

In [102]:
lst2

[1, 2, 4, 3, 4, 5]

index() --> Returns the index of the first occurrence of the element x from the list

In [104]:
lst = [10, 20, 30, 40, 50]
lst.index(50)

4

insert() --> Insert the element at a given
index.

In [133]:
lst = [10, 20, 30, 40]
lst.insert(3, 100)

In [134]:
lst

[10, 20, 30, 100, 40]

In [135]:
import random
for i in range(0, 5):
    lst.insert(i, random.randint(0,10))

In [136]:
print(lst)

[1, 7, 7, 4, 2, 10, 20, 30, 100, 40]

pop() --> Removes the element from the
given position. Also, it returns
the removed element.

In [137]:
lst = [1, 2, 3, 4, 5, 6]
lst.pop(2)

3

In [138]:
lst

[1, 2, 4, 5, 6]

remove() --> Removes the first occurrence of element x from the list

In [139]:
lst = [1, 2, 3, 4, 5 ,6, 1, 2, 3, 4, 5]
lst.remove(3)

In [140]:
lst

[1, 2, 4, 5, 6, 1, 2, 3, 4, 5]

In [141]:
lst.reverse() #reverse the elements of the list

In [142]:
lst

[5, 4, 3, 2, 1, 6, 5, 4, 2, 1]

In [144]:
lst.sort() #sort the elements of list

In [145]:
lst

[1, 1, 2, 2, 3, 4, 4, 5, 5, 6]

## Lists and Strings

In [146]:
string = "python"
lst = list(string)

In [147]:
lst

['p', 'y', 't', 'h', 'o', 'n']

In [150]:
#string split in a list
P="My-Data-of-Birth-03-June-1991"
P.split("-")

['My', 'Data', 'of', 'Birth', '03', 'June', '1991']